.events-box {
    display: flex;
    border: 1px solid rgba(149, 0, 255, 0.197);
    background: #12023471;
    width: 100%;
    max-width: 700px;
    min-height: 350px;
    box-shadow: 0 0 20px rgba(149, 0, 255, 0.197);
}

.empty-state.events {
    margin: auto;
    text-align: center;
    padding: 0 25px;
}

.events-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.event-row {
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: white;
}


.event-row a {
    margin: auto 0;
    padding-left: 10px;
    color: white; 
    transition: 0.2s;   
}

.event-row a:hover {
    color: rgb(172, 56, 255);    
}

@media (max-width: 600px) {
    .event-row {
        font-size: 3.5vw;
    }

    .empty-state.events {
        font-size: 4vw;
    }
}