.updates-list {
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
}

.updates-table {
    width: 75%;
}

.latest-card {
    padding: 10px 10px;
}

.latest-card .timestamp {
    opacity: 20%;
}

.latest-card h3 {
    font-size: 1.6rem;
    margin-top: 0;
}

.latest-card p {
    font-size: 1.1rem;
}

    .latest-card .media {
        width: 85%;
        margin: auto;
    }

    .video-responsive {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .video-responsive iframe {
        width: 100%;             /* Let it span the full width of its container */
        height: auto;            /* Allow the aspect ratio property to calculate the height */
        
        /* 16:9 is the standard modern widescreen layout for YouTube videos */
        aspect-ratio: 16 / 9;    
        
        border: none;
    }

.update-row:not(:last-child) .separator {
    margin: auto;
    width: 95%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.media img {
    width: 100%;
}

@media (max-width: 900px) {
    .updates-table {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .latest-card {
        padding: 10px 0;
    }

    .latest-card .media {
        width: 100%;
    }

    .video-responsive iframe {
        aspect-ratio: 16 / 9;
    }
}