.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;   
  padding: 40px 0;
  background-color: #0a0a0a; 
}

/*line under the header*/
.main-nav:after {
    content: "";
    margin-top: 2rem;
    display: block;
    width: 80%; 
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.main-nav a.active {
  cursor: default;
}

.nav-logo-link {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.nav-logo {
  height: 80px; 
  margin-bottom: 10px;
}

.nav-title {
  font-family: 'Arial Black', sans-serif; 
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.social-links {
  margin-bottom: 25px;
}

.social-links a {
  margin: 0 10px;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  transition: 0.2s;
}

.social-links a:hover {
  color: #fd99a2;
}

.page-links {
  display: flex;
  gap: 20px;
}

.page-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 1.5px;
  transition: color 0.2s;
}

.page-links a:not(.active):hover {
    color: #c9c9c9;
}

.page-links a.active {
  font-weight: bold;
  text-shadow: 0 0 25px rgb(255, 209, 3);
  cursor: default;
}