.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;   
  padding: 40px 0;
  width: 100%;
  background: linear-gradient(
    to bottom, 
    rgba(23, 0, 52, 0.507) 0%, 
    transparent 100%
  );
  background-color: #0a0a0a; 
}

/*line under the header*/
.main-nav:after {
    content: "";
    margin-top: 2rem;
    display: block;
    width: 65%; 
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.main-nav a.active {
  cursor: default;
}

.nav-logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 35px 10px;
  border: 1px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.218);

  zoom: 0.75;
}

.nav-logo {
  width: 100%;
  height: auto;
  max-width: 220px;
}

.nav-title {
  width: 100%;
  height: auto;
  max-width: 350px; 
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin-bottom: 25px;
}

.social-links a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  transition: 0.2s;

  zoom: 0.75;
}

.social-links a:hover {
  color: #fd99a2;
}

.page-links {
  display: flex;
  gap: 20px;
}

.page-links a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  transition: color 0.2s;

  zoom: 0.75;
}

.page-links a:not(.active):hover {
    color: #c9c9c9;
}

.page-links a.active {
  font-weight: bold;
  text-shadow: 
    0 0 10px rgb(255, 255, 255, 0.8), 
    0 0 30px rgb(255, 199, 78), 
    0 0 50px rgba(255, 199, 78);
  cursor: default;
}

.main-nav::before {
  content: " ";
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 3px, 100% 3px;
  pointer-events: none;
  z-index: 10;
}

@media (max-width: 600px) {
  .main-nav::before {
    background-size: 100% 2.5px;
  }

  .nav-logo-link {
    width: 60%;
  }

  .main-nav:after {
    width: 90%; 
}
}