.home-container h1 {
    margin: 50px    ;
}

.events {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

@media (max-width: 900px) {
    .home-container h1 {
        margin: 0;
    }
}
